body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.dashboard-container {
    background-color: #b7c7d6;
    width: 700px;
    padding: 30px;
    border: 2px solid #888;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* alert section */
.alert-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.alert-box,
.search-box {
    background-color: #e3bcbc;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #555;
    width: 45%;
    text-align: center;
    font-size: 16px;
}

/* Buttons */
.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #555;
    font-size: 15px;
    cursor: pointer;
}

.blue {
    background-color: #9bb7d4;
}

.green {
    background-color: #c6d8c6;
}

.red {
    background-color: #e6a1a1;
}

.btn:hover {
    transform: scale(1.05);
}


.info-box {
    background-color: #d4dde6;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #555;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
}